.App {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem auto;
  text-align: center;
  /* background-color: hsla(0, 0%, 91%, 0.791); */
  border-radius: 20px;
}
